extends layout

block content
 .page-header
  h1 #{title}
      each tarea in tareas
        div.well
          h3 #{tarea.nom}
          .progress.progress-striped.active
            .progress-bar.progress-bar-success(role='progressbarsuccess', aria-valuenow='tarea.realització', aria-valuemin='0', aria-valuemax='100', style='width:'+tarea.realització+'%')   #{tarea.realització}% completado
 form.form-inline(role='form', action='tareas/nueva')
  button.btn.btn-success(type='submit') Nueva Tarea